.header {
   padding-left: 15px;
   //margin-top: 20px;
}

.gameTitle {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
}

.gameTitle-text {
   font-family: clear sans,helvetica neue,Arial,sans-serif;
   font-weight: 700;
   font-size: 74px;
   line-height: 66px;
   margin: 0;
}





.subtitle {
   display: flex;
   justify-content: space-between;
}

.scores-container {
   color: #776e65;
   font-size: 18px;
   display: flex;
   float: right;
   text-align: right;
}

.score {
   font-family: clear sans,helvetica neue,Arial,sans-serif;
   position: relative;
   display: inline-block;
   background: #bbada0;
   padding: 0px 25px;
   //height: 53px;
   //line-height: 47px;
   font-weight: 700;
   border-radius: 4px;
   margin-left: 6px;
   text-align: center;

   p {
      margin: 7px 0 0px 0;
      font-size: 12px;
      color: #eee4da;
   }

   h3 {
      margin: -5px 0 -4px 0;
      font-size: 25px;
      color: #fff;
   }
}


.subtitle-texts {
   h3, p {
      margin: 0;
   }

   h3 {
      //font-weight: 600;
      font-size: 17px;
   }

   p {
      font-size: 15px;
      letter-spacing: 0.8px;
   }

   margin-bottom: 30px;
}

.restart-button {
   font-size: 18px;
   font-weight: 700;
   background: #8f7a66;
   border: none;
   border-radius: 4px;
   padding: 0 20px;
   text-decoration: none;
   color: #f9f6f2;
   height: 40px;
   line-height: 42px;
   display: block;
   text-align: center;
   float: right;

   &::after {
      border: none;
   }
}



